<h1>Password Generator </h1>

<div>
  <label for="passwordLength">Enter length</label>
  <input [value]="length" (input)="onSetLength($event)" type="text">
</div>

<div>
  <label for="passwordLength">Use Numbers</label>
  <input [value]="includeNumbers" (change)="onChangeIncludeNumbers()" type="checkbox">
</div>

<div>
  <label for="passwordLength">Use Letters</label>
  <input [value]="includeStrings" (change)="onChangeIncludeStrings()" type="checkbox">
</div>

<div>
  <label for="passwordLength">Use Symbols</label>
  <input [value]="includeSymbols" (change)="onChangeIncludeSymbols()" type="checkbox">
</div>

<div>
  <button (click)="onGenerate()"> Generate </button>
</div>


<div>
  <label for="passwordLength">Your Password</label>
  <input [value]="this.generatedPw" type="text">
</div>
