<h1>Password Generator </h1>

<div>
  <label for="passwordLength">Enter length</label>
  <input type="text">
</div>

<div>
  <label for="passwordLength">Use Numbers</label>
  <input type="checkbox">
</div>

<div>
  <label for="passwordLength">Use Letters</label>
  <input type="checkbox">
</div>

<div>
  <label for="passwordLength">Use Symbols</label>
  <input type="checkbox">
</div>

<div>
  <button> Generate </button>
</div>


<div>
  <label for="passwordLength">Your Password</label>
  <input type="text">
</div>
